@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,400&family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: #3e54ac;
}

.evaluasi {
  background-color: #f4bfbf;
  color: black;
  box-shadow: 2px 2px 6px black;
  font-size: 18px;
  font-weight: bolder;
  width: 15%;
  text-align: center;
  height: 70px;
  margin-top: 20px;
}

.container {
  margin: 20px;
  background: #c6dce4;
  padding: 20px;
  height: 600px;
  font-size: 12pt;
  overflow: hidden;
}

.container p {
  padding-top: 20px;
}
.hilang {
  display: none;
}

.w3-panel {
  width: 40%;
  margin-top: 50px;
  border: 2px dashed #a25b5b;
  background-color: #f8ede3;
  text-align: justify;
  float: right;
  height: 380px;
  position: relative;
  right: 100px;
}

.w3-panel2 {
  width: 40%;
  margin-top: 50px;
  border: 2px dashed #a25b5b;
  background-color: #f8ede3;
  text-align: justify;
  float: left;
  height: 380px;
  position: relative;
  left: 100px;
}

.home {
  margin-left: 1000px;
}
.w3-button {
  cursor: none;
  color: white;
  pointer-events: none;
  position: relative;
  left: 38%;
  width: 15%;
  margin-top: 5%;
}

.data {
  margin-left: 20px;
  margin-right: 20px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #ffc4c4;
  color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  position: relative;
  top: 15px;
  font-weight: bolder;
}

.button:hover {
  color: white;
}

.button:active {
  background-color: #ffc4c4;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.button2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #81cacf;
  color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  position: relative;
  top: 15px;
  font-weight: bolder;
}

.button2:hover {
  color: white;
}

.button2:active {
  background-color: #81cacf;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.isian {
  /* display             :none; */
  text-align: justify;
  /* margin-top: 20px; */
}

/* .isiAktif{
  display             :block
} */

.kiri {
  float: left;
  width: 75%;
  background-color: white;
  height: 645px;
  padding: 20px;
  text-align: justify;
  box-sizing: border-box;
  border: 2px solid #c4a092;
  overflow: auto;
}

.kanan {
  float: right;
  width: 25%;
  background-color: white;
  height: 645px;
  padding: 15px;
  text-align: justify;
  box-sizing: border-box;
  border: 2px solid #c4a092;
}

.disable {
  background-color: #a6d1e6 !important;
  color: black !important;
  cursor: default !important;
}

.bg_nav {
  width: 99%;
  background-color: #a6d1e6;
  border-radius: 10px;
}

.bg_full {
  width: 100%;
  text-align: center;
  color: black;
  padding: 10px 0;
  border: 2px dashed #a6d1e6;
  background-color: #a6d1e6;
}

.text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.bg_soal {
  width: 100%;
  padding: 10px 0;
  background-color: #ffc4c4;
}

.bg_soal span {
  padding: 2px;
  display: inline-block;
  width: 60px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 5px;
}

.soal_nav {
  width: 14%;
  height: 18%;
  padding: 2px;
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  float: left;
  margin-left: 8.5%;
  margin-top: 10px;
  box-sizing: border-box;
}

.soal_nav:hover {
  cursor: pointer;
  background-color: #a25b5b;
  color: white;
}

.belum {
  background-color: white;
}

.fontsedang {
  font-size: 16px;
}

.clear {
  clear: both;
}

.ket {
  width: 100%;
  margin-left: 8.5%;
  margin-top: 10px;
}

.sudah {
  background-color: #a25b5b;
  color: white;
}

.selesai {
  background-color: #81cacf;
  border: blue;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin-left: 25%;
  font-weight: bold;
}

.selesai:hover {
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.bg_pertanyaan {
  width: 100%;
}

.no {
  padding: 10px 0;
}

.no p {
  margin-left: 24px !important;
  font-size: 18px;
}

.inti_pertanyaan {
  padding: 10px 20px;
}

.pertanyaannya {
  /* border-left: 4px solid green; */
  padding-left: 0px;
  font-size: 18px;
}

.batas {
  margin-top: 20px;
  border-bottom: 1px solid #a25b5b;
}

.lisoal li {
  margin-left: 25px;
}
/* radio button */

.bg_pilihan,
.checkbox {
  position: relative;
  margin: 20px 0;
  display: block;
  font-size: 18px;
  padding: -10px;
}

.bg_pilihan :hover,
.checkbox:hover {
  cursor: pointer;
}

.checkbox {
  display: block;
}

.bg_pilihan input,
.checkbox input {
  position: absolute;
  margin: 5px;
  padding: 0;
  visibility: hidden;
}

.bg_pilihan .textnya,
.checkbox .textnya {
  margin-left: 30px;
  margin-bottom: 0;
}

.nav_pilihan,
.fake-checkbox {
  position: absolute;
  display: block;
  top: 0;
  left: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid #a25b5b;
  background-color: white;
}

.nav_pilihan:after,
.fake-checkbox:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background: #a25b5b;
  transform: translateX(-50%) translateY(-50%);
}

.nav_pilihan {
  border-radius: 50%;
}

.nav_pilihan:after {
  border-radius: 50%;
}

input[type="radio"]:checked + span .nav_pilihan:after {
  display: block;
}

/* akhir button */

.nav_sebelum {
  background-color: #ffc4c4;
  color: black;
  width: 25%;
  padding: 5px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
  display: inline-block;
  margin-right: 3%;
}

.nav_sebelum:hover {
  color: white;
}

.nav_sebelum p {
  font-size: 18px;
}

.nav_selanjut {
  background-color: #81cacf;
  color: black;
  width: 25%;
  padding: 5px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
  display: inline-block;
  margin-right: 3%;
}

.nav_selanjut:hover {
  color: white;
}

.nav_selanjut p {
  font-size: 18px;
}

.time {
  float: right;
  width: 15%;
  height: 30px;
  color: black;
  border: 2px dashed #a25b5b;
}

.dataaa {
  min-height: 400px;
  background-color: white;
}

.skornya {
  margin-top: 10px;
  margin-left: 0px;
  font-size: 18px;
  padding-top: 10px 0px;
  min-height: 450px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.t_hasil {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  text-align: justify;
  border: 2px dashed #a25b5b;
  background-color: #f8ede3;
}

.ket_hasil {
  width: 40%;
  font-size: 18px;
  padding: 5px !important;
}

.ket_ulang {
  font-size: 20px;
}

.full {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(134, 133, 133, 0.8);
  position: fixed;
  text-align: center;
}

.full p {
  display: inline-block;
  font-size: 80px;
  margin-top: 240px;
  color: white;
}

.full a {
  display: inline-block;
  font-size: 80px;
  margin-top: 240px;
  color: white;
}
.p {
  display: inline;
}

.nomor {
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
}

.kuis {
  background-color: #a25b5b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin-left: 25%;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.judul {
  font-weight: bold;
  font-size: 25px;
  width: 300px;
  height: 100px;
  padding: 15px;
  background-color: #a25b5b;
  box-shadow: 10px 10px #c4a092;
  color: white;
  text-shadow: 2px 2px black;
}

.tmblUlang {
  background-color: #ffa8a8;
  color: white;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  margin-right: 10px;
  width: auto;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
}

.tmblUlang {
  text-decoration: none;
  color: white;
}

.tmblUlang:hover {
  background-color: #ffa8a8;
  color: black;
}

@media screen and (max-width: 992px) {
  .home {
    margin-left: 150px;
  }
  .fase {
    font-size: 12pt;
  }
  .tujuan {
    width: 100%;
  }
  p {
    text-align: justify;
  }
  .w3-panel {
    width: 100%;
    height: fit-content;
    right: 0px;
  }

  .w3-panel2 {
    width: 100%;
    height: 350px;
    left: 0px;
  }
  .container {
    overflow: auto;
    width: 100%;
  }

  .w3-button {
    width: fit-content;
    margin-top: 50px;
    margin-left: -20px;
  }
  .kiri {
    width: 100%;
  }

  .kanan {
    width: 100%;
  }

  .nav_sebelum {
    width: 45%;
  }

  .nav_selanjut {
    width: 45%;
  }

  .judul {
    text-align: center;
  }

  .t_hasil {
    width: 90%;
  }

  .evaluasi {
    width: 40%;
  }
}
