/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #3e54ac;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close {
  width: 78px;
}
.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  background: #655dbb;
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link {
  display: block;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #655dbb;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details {
  background: none;
}
.sidebar.close .profile-details {
  width: 78px;
}
.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img {
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}
.sidebar .profile-details .job {
  font-size: 12px;
}
.home-section {
  position: relative;
  background: white;
  height: 80vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #3e54ac;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
  .sidebar {
    width: 78px;
  }
  .sidebar.close {
    width: 0;
  }
  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section {
    width: 100%;
    left: 0;
  }
}

/* .img-fluid {
  margin-left: 380px;
  width: 30%;
}

.row .sidebar .flex-shrink-0 {
  background-color: #142d55 !important;
} */

header nav.navbar {
  background-color: #3e54ac !important;
}

/* konten card.h5.card-header {
  background-color: yellowgreen;
} */

/* .card-title .card-body.rumus {
  background-color: #d48166;
  padding: 5%;
  border-radius: 5px;
  box-shadow: 7px 7px 5px grey;
  font-size: 20px;
  color: black;
} */
/* Drag And drop bumi*/
.tabb {
  margin-left: 38%;
}

.kotak {
  background-color: #adbdff;
  border: 1px solid #cecece;
  border-radius: 3px;
  box-shadow: 2px 2px 6px black;
  width: 300px;
  display: inline-block !important;
  text-align: center;
  height: 380px;
}
.kotak2 {
  background-color: #adbdff;
  border: 1px solid #cecece;
  border-radius: 3px;
  box-shadow: 2px 2px 6px black;
  width: 500px;
  display: inline-block !important;
  text-align: center;
  height: 380px;
}

.draggable {
  color: black;
  width: fit-content;
  display: inline-block !important;
  text-align: center;
  padding: 8px;
  margin: 10px;
  cursor: move;
  border: 1px dashed black;
  width: 150px;
  /* height: 150px; */
}

.draggable:hover {
  background-color: white;
}

.droppable {
  background-color: #f4f4f4;
  border: 1px solid #cecece;
  border-radius: 3px;
  /* padding: 20px; */
  margin: 5px 0;
  box-shadow: 2px 2px 6px black;
  color: black;
  width: 200px;
  display: inline-block;
  text-align: center;
  height: 70px;
}
.droppable2 {
  background-color: #f4f4f4;
  border: 1px solid #cecece;
  border-radius: 3px;
  /* padding: 20px; */
  margin: 5px 0;
  box-shadow: 2px 2px 6px black;
  color: black;
  width: 200px;
  display: inline-block;
  text-align: center;
  height: 70px;
}
.cekjwb {
  background-color: #3e54ac;
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 3px 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
  margin-left: 55%;
}

.infocontoh {
  text-align: center;
  width: 400px;
  border: 1px dashed #655dbb;
  border-radius: 50px;
  box-shadow: -5px -5px 4px rgba(197, 197, 218, 0.8);
  padding: 10px;
  font-size: 12px;
  height: 60px;
  margin-left: 20px;
}

.konten .card {
  background-color: #655dbb;
  /* height: 10%; */
  width: 100%;
  min-height: 400px;
  max-height: 520px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* konten contoh */
.langkah {
  display: inline-block;
  background-color: #655dbb;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  border: 2px solid black;
}

.ke {
  display: inline-block;
  background-color: #655dbb;
  font-weight: bold;
  padding: 10px;
  padding-right: 10px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #3e54ac;
  color: white;
}

.ke_aktif {
  background-color: #655dbb;
  padding-top: 10px;
}

.ke:hover {
  cursor: pointer;
  background-color: #8191d3;
  padding-top: 10px;
}

.langkahnya {
  width: 100%;
  background-color: white;

  /* margin-top: -2px;
  padding: 5px; */
  box-sizing: border-box;
}

.masuk {
  margin-left: 10px;
  margin-right: 10px;
}

.aau {
  margin-left: 25px !important;
}

.borderhasil {
  text-align: center;
  width: 400px;
  border: 1px dashed #655dbb;
  border-radius: 50px;
  box-shadow: -5px -5px 4px rgba(197, 197, 218, 0.8);
  padding: 10px;
  font-size: 15px;
  height: 60px;
  margin-left: 20px;
}
.next_pensil {
  background-color: #655dbb;
  padding: 10px;
  display: inline-block;
  /* margin-top: 5px; */
  border: 1px solid #3e54ac;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.next_pensil:hover {
  background-color: #8191d3;
  color: white;
}

.jarak_atas {
  margin-top: 10px;
}

.hilang,
.hilang1 {
  display: none !important;
}

.pertanyaan {
  border: 4px solid bisque;
  padding: 5px 8px;
  margin-left: 3px;
  margin-top: -5px;
  position: relative;
  box-sizing: border-box;
}

/* .sebelumnya,
.cek_jawaban,
.selanjutnya {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: pink;
  border: 1px solid wheat;
  margin-top: 10px;
  font-size: 12px;
  cursor: pointer;
}

.sebelumnya:hover,
.cek_jawaban:hover,
.selanjutnya:hover {
  background-color: red;
  color: yellow;
} */
/* 
.disable {
  background-color: gray !important;
  border: 2px solid var(--color-3) !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.disable:hover {
  background-color: gray !important;
  border: 2px solid var(--color-3) !important;
  color: rgba(255, 255, 255, 0.8) !important;
  cursor: default;
}

.button {
  font-size: 13px;
  margin-bottom: 10px;
  margin-left: 2px;
  padding: 2px 6px;
  background-color: blueviolet;
  cursor: pointer;
  display: inline-block;
  border: 2px solid wheat;
} */
